@import 'mod/fonts';
@import 'mod/config';
@import 'mod/functions';

// GENERAL{ ----------

body{
	display: none;

	margin:0px;
	padding:0px;
	padding-top: 60px + 40px;
	background-color: $ink_purple;
    font-family:$font;
    font-size:0px;
}
button:focus, input:focus, select:focus, textarea:focus{
    outline:none;
}
button{
    border:none;
    cursor:pointer;
    @include radius($radius:4px);
}
form{
	@include clear-spacing();
}
.inline-form{
	@include inline();
}
.input-primary{
	@include radius($radius:4px);
    display:block;
    margin:0px;
    padding:14px 40px 12px 40px;
    margin-bottom:20px;
    color:$ink_blue_dark;
    font-size:28px;
    font-family:$font_roman;
    background:$ink_white;
    border:none;
    border-top:3px solid rgba(0,0,0,0.2);
}
.input-lg{
	font-size:48px;
}
.input-primary:focus{
    background:$ink_purple_ultra_light;
}
.input-center{
    text-align:center;
}
.full-width{
    width:100%;
}
.input-half-left, .input-half-right{
	@include box-sizing();
	@include inline();
	width: 49%;
}
.input-half-left{
	margin-right: 2%;
}
.input-half-right{

}
.btn{
	@include radius($radius:4px);
    font-family:$font_roman;
    font-size:24px;
    text-transform:uppercase;
    text-align:center;
    border:none;
    padding:16px;
    padding-top:24px;
    margin:0px;
    border-bottom:3px solid rgba(0,0,0,0.2);
}
.btn:active{
    border-top:3px solid rgba(0,0,0,0.2);
    border-bottom:none;
}
.btn-25{
    display:inline-block;
    vertical-align:top;
    width:40%;
    margin-right: 2%;
}
.btn-75{
    display:inline-block;
    vertical-align:top;
    width:58%;
}
.btn-purple{
    @include user-select();
    background-color:$ink_purple;
    color:#FFF;
    margin-top:20px;
    cursor:pointer;
    border-bottom:3px solid rgba(0,0,0,0.2);
}
.btn-purple:hover{
    background-color:$ink_purple_light;
    color:$ink_white;
}
.btn-purple:active{
    background-color:$ink_purple_light;
    color:$ink_white;
    border-top:3px solid rgba(0,0,0,0.2);
    border-bottom:none;
}
.btn-danger{
    @include user-select();
    background-color:$ink_red;
    color:#FFF;
    margin-top:20px;
    cursor:pointer;
    border-bottom:3px solid rgba(0,0,0,0.2);
}
.btn-danger:hover{
    background-color:$ink_red_light;
    color:#FFF;
}
.btn-danger:active{
    background-color:$ink_red_light;
    color:#FFF;
    border-top:3px solid rgba(0,0,0,0.2);
    border-bottom:none;
}
.btn-grey{
    @include user-select();
    background-color:$ink_grey_dark;
    color:#FFF;
    margin-top:20px;
    cursor:pointer;
    border-bottom:3px solid rgba(0,0,0,0.2);
}
.btn-grey-off{
    @include user-select();
    background-color:$ink_grey;
    color:#000;
    margin-top:20px;
    cursor:default;
    border-top:3px solid transparent;
}
.btn-grey:hover{
    background-color:$ink_grey_light;
    color:#000;
}
.btn-grey:active{
    background-color:$ink_grey_light;
    color:#000;
    border-top:3px solid rgba(0,0,0,0.2);
    border-bottom:none;
}
.btn-success{
    @include user-select();
    background-color:$ink_green;
    color:#FFF;
    margin-top:20px;
    cursor:pointer;
    border-bottom:3px solid rgba(0,0,0,0.2);
}
.btn-success-off{
    @include user-select();
    background-color:$ink_green_light_2;
    color:#FFF;
    margin-top:20px;
    cursor:default;
    border-top:3px solid transparent;
}
.btn-success:hover{
    background-color:$ink_green_light_2;
    color:#FFF;
}
.btn-success:active{
    background-color:$ink_green_light_2;
    color:#FFF;
    border-top:3px solid rgba(0,0,0,0.2);
    border-bottom:none;
}
// MENU
header{
	@include box-sizing();
	width: 100%;
	height: 60px;

	position: absolute;
	top:0px;
	left: 0px;

	background-color: $ink_grey_light;
	border-bottom: 3px solid rgba(0,0,0,0.3);

	.content{
		@include user-select();
		@include screen-width();
		height:100%;
		position: relative;
		.left, .right{
			position: absolute;
			height: 100%;
			top: 0px;

			.element{
				cursor: pointer;
				@include inline();
				font-size: 24px;
				color: $ink_purple;
				font-family: $font_roman;
				// padding-left:30px;padding-right:30px;
				padding:20px 30px;
				height: 100%;
			}
			.element:hover, i:hover{
				background-color: $ink_grey_ultra_light;
			}
			.element:active, i:active{
				background-color: $ink_grey_ultra_light;
				border-top: 3px solid rgba(0,0,0,0.2);
			}
			.active{
				background-color: $ink_grey;
			}

			.new-book{
				@include sprite($x:1, $y:0, $dx:75px, $dy:60px, $error_x:0px, $error_y:0px, $scale:1, $mobile_scale:1, $color:transparent);
				@include inline();
			}
			.search{
				@include sprite($x:2, $y:3, $dx:75px, $dy:60px, $error_x:0px, $error_y:0px, $scale:1, $mobile_scale:1, $color:transparent);
				@include inline();
			}
			.search-cancel{
				@include sprite($x:2, $y:4, $dx:75px, $dy:60px, $error_x:0px, $error_y:0px, $scale:1, $mobile_scale:1, $color:transparent);
				@include inline();
			}
			.back{
				@include sprite($x:0, $y:1, $dx:75px, $dy:60px, $error_x:0px, $error_y:0px, $scale:1, $mobile_scale:1, $color:transparent);
				@include inline();
			}
			.edit{
				@include sprite($x:3, $y:1, $dx:75px, $dy:60px, $error_x:0px, $error_y:0px, $scale:1, $mobile_scale:1, $color:transparent);
				@include inline();
			}
			.save{
				@include sprite($x:1, $y:1, $dx:75px, $dy:60px, $error_x:0px, $error_y:-2px, $scale:1, $mobile_scale:1, $color:transparent);
				@include inline();
			}
			.delete{
				@include sprite($x:1, $y:3, $dx:75px, $dy:60px, $error_x:0px, $error_y:3px, $scale:1, $mobile_scale:1, $color:transparent);
				@include inline();
			}
			.print{
				@include sprite($x:1, $y:4, $dx:65px, $dy:60px, $error_x:0px, $error_y:2px, $scale:0.8, $mobile_scale:1, $color:transparent);
				@include inline();
			}
			i{
				@include inline();
				cursor: pointer;
			}
		}
		.left{
			left: 0px;
		}
		.right{
			right: 0px;
		}
	}
	.menu-info{
		display: none;
		@include box-sizing();
		font-size: 16px;
		font-family: $font_thin;
		position: absolute;
		width: 130px;
		top:68px;left:-27.5px;
		text-align: center;
		background-color: $ink_black;
		color:$ink_white;
		padding: 10px 20px;
		padding-top: 12px;
		border-radius: 4px;
		z-index: 12000;
	}
}
.paging{
    margin:auto;
    text-align:center;
    font-size: 14px;
    font-family: $font_roman;
    .page{
	    background:$ink_grey;
	    border-bottom: 2px solid rgba(0,0,0,0.3);
	    margin:2px;
	    cursor:pointer;
	}
	.page:hover{
		background:$ink_grey_light;
	}
	.page:active{
		background:$ink_grey_light;
		border: none;
		border-top: 2px solid rgba(0,0,0,0.3);
	}
	.page_active{
	    background:$ink_grey_light;
	    border-bottom: 2px solid rgba(0,0,0,0.3);
	    margin:2px;
	    color:$ink_purple;
	    font-weight:bold;
	}
	.page,.page_active{
		@include radius($radius:4px);
		@include inline();
		padding:10px 16px;padding-top: 14px;
	    display:inline-block;
	}
}

// }GENERAL ----------

// IMPORTS
@import 'tools/modals';
@import 'tools/select';
@import 'views/home';
@import 'views/login';