<!-- INFO MODAL -->
<div id="info-modal" class="u-modal">
    <div class="modal-block">
        <div class="block">
            <div class="content">
                <div class="info"></div>
                <button id="info-modal-ok" type="button" class="btn btn-purple full-width">OK</button>
            </div>
        </div>
    </div>
    <div class="modal-mask"></div>
</div>
<!-- CONFIRM MODAL -->
<div id="confirm-modal" class="u-modal">
    <div class="modal-block">
        <div class="block">
            <div class="content">
                <div class="info"></div>
                <button id="confirm-modal-ok" type="button" class="btn btn-danger btn-25">ANNULER</button>
                <button id="confirm-modal-confirm" type="button" class="btn btn-success btn-75">OK</button>
            </div>
        </div>
    </div>
    <div class="modal-mask"></div>
</div>
<!-- ERROR MODAL -->
<div id="error-modal" class="u-modal">
    <div class="modal-block">
        <div class="block">
            <div class="content">
                <h2>Erreur</h2>
                <div class="info-error"></div>
                <button id="error-modal-ok" type="button" class="btn btn-danger full-width">OK</button>
            </div>
        </div>
    </div>
    <div class="modal-mask"></div>
</div>