<!-- INFO MODAL -->
<div id="info-modal" class="u-modal">
    <div class="modal-block">
        <div class="block">
            <div class="content">
                <div class="info"></div>
                <button id="info-modal-ok" type="button" class="btn btn-success btn-full-width">OK</button>
            </div>
        </div>
    </div>
    <div class="modal-mask"></div>
</div>
<!-- ERROR MODAL -->
<!-- <div id="error-modal" class="u-modal">
    <div class="modal-block">
        <div class="block">
            <div class="content">
                <h2>Error</h2>
                <div class="info-error"></div>
                <button id="error-modal-ok" type="button" class="btn btn-primary btn-full-width">OK</button>
            </div>
        </div>
    </div>
    <div class="modal-mask"></div>
</div> -->